@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans:
		var(--body-font), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-display: var(--display-font), var(--font-sans);

	--color-*: initial;

	--color-secondary-0: #e5f5ff;
	--color-secondary-10: #cde8fe;
	--color-secondary-20: #a1cdfc;
	--color-secondary-30: #76aff9;
	--color-secondary-40: #4d8cf5;
	--color-secondary-50: #2565ef;
	--color-secondary-60: #1253d4;
	--color-secondary-70: #1146a7;
	--color-secondary-80: #0e377c;
	--color-secondary-90: #0b2652;
	--color-secondary-100: #061429;

	--color-primary-0: #fef7ee;
	--color-primary-10: #feecd5;
	--color-primary-20: #f4d2a4;
	--color-primary-30: #e6b06f;
	--color-primary-40: #dd8534;
	--color-primary-50: #ff4700;
	--color-primary-60: #af3106;
	--color-primary-70: #8b2504;
	--color-primary-80: #6e1c03;
	--color-primary-90: #3e0f00;
	--color-primary-100: #3e0f00;

	--color-neutral-0: #ffffff;
	--color-neutral-10: #f2f2f3;
	--color-neutral-20: #e5e5e6;
	--color-neutral-30: #d7d7da;
	--color-neutral-40: #c9c9cf;
	--color-neutral-50: #bbbbc3;
	--color-neutral-60: #3b3b45;
	--color-neutral-70: #2f2f37;
	--color-neutral-80: #23232a;
	--color-neutral-90: #16161d;
	--color-neutral-100: #0a0a0d;

	--color-yellow-0: #fff4e5;
	--color-yellow-10: #fee9c9;
	--color-yellow-20: #fcdc9d;
	--color-yellow-30: #f9d272;
	--color-yellow-40: #f4cb49;
	--color-yellow-50: #eec821;
	--color-yellow-60: #d89c00;
	--color-yellow-70: #a77200;
	--color-yellow-80: #785e0d;
	--color-yellow-90: #4e3c0a;
	--color-yellow-100: #251c05;

	--color-red: var(--color-red-50);
	--color-red-0: #f2f2f2;
	--color-red-10: #fad4d2;
	--color-red-20: #f6b0aa;
	--color-red-30: #f19181;
	--color-red-40: #ec7358;
	--color-red-50: #faf1f1;
	--color-red-100: #f5dcdd;
	--color-red-200: #ebbebf;
	--color-red-300: #db9294;
	--color-red-400: #c25d60;
	--color-red-500: #b03337;
	--color-red-600: #a22529;
	--color-red-700: #8d1e21;
	--color-red-800: #7a1a1c;
	--color-red-900: #63191a;
	--color-red-950: #400c0d;

	--color-green: var(--color-green-50);
	--color-green-0: #fafffb;
	--color-green-10: #ccffda;
	--color-green-20: #b4fdcc;
	--color-green-30: #9cfcc2;
	--color-green-40: #6bfaae;
	--color-green-50: #f1fdf1;
	--color-green-100: #ddf6de;
	--color-green-200: #baebbe;
	--color-green-300: #82d689;
	--color-green-400: #4bba55;
	--color-green-500: #3cf69f;
	--color-green-600: #229b2a;
	--color-green-700: #177c1e;
	--color-green-800: #106115;
	--color-green-900: #0d510f;
	--color-green-950: #042a07;

	--color-gray-50: #f8f8ff;
	--color-gray-100: #f5f5fd;
	--color-gray-200: #e9e9f5;
	--color-gray-300: #dcdded;
	--color-gray-400: #b7b6cc;
	--color-gray-500: #8a89a6;
	--color-gray-600: #6f6e88;
	--color-gray-700: #5d5c75;
	--color-gray-800: #464559;
	--color-gray-900: #323244;

	--color-emerald-100: #dcf5e7;

	--color-teal-100: #d8f3fa;

	--color-cyan-50: #f2fcff;
	--color-cyan-100: #d9f2fc;

	--color-blue-50: #f2f6fc;
	--color-blue-100: #e0e9f7;
	--color-blue-200: #c9d8ee;
	--color-blue-300: #a3bfe1;
	--color-blue-400: #6591d0;
	--color-blue-500: #4169c8;
	--color-blue-600: #304ebd;
	--color-blue-700: #2744b0;
	--color-blue-800: #223894;
	--color-blue-900: #1c2f79;
	--color-blue-950: #121c52;

	--color-indigo-100: #dfe0f3;

	--color-purple-50: #f9f2fb;
	--color-purple-100: #eddbf4;

	--brightness-80: 0.8;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--color-secondary-50);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-positive: var(--color-green-70);
	--color-positive-foreground: var(--color-neutral-0);

	--color-negative: var(--color-red-60);
	--color-negative-foreground: var(--color-neutral-0);

	--color-alert: var(--color-yellow-50);
	--color-alert-foreground: var(--color-neutral-0);

	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.5rem;
	--background: var(--color-neutral-10);
	--foreground: var(--color-neutral-90);

	--card: oklch(1 0 0);
	--card-foreground: var(--color-neutral-90);

	--popover: oklch(1 0 0);
	--popover-foreground: var(--color-neutral-90);

	--primary: var(--color-primary-50);
	--primary-foreground: var(--color-neutral-0);

	--secondary: var(--color-secondary-50);
	--secondary-foreground: var(--color-neutral-90);

	--muted: var(--color-neutral-10);
	--muted-foreground: var(--color-neutral-50);

	--accent: var(--color-neutral-90);
	--accent-foreground: var(--color-neutral-0);

	--border: var(--color-neutral-50);
	--input: var(--color-neutral-50);
	--ring: var(--color-primary-50);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.002 247.839);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
	--background: var(--color-neutral-100);
	--foreground: var(--color-neutral-20);
	--card: var(--color-neutral-90);
	--card-foreground: var(--color-neutral-20);
	--popover: oklch(0.21 0.034 264.665);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: var(--color-primary-50);
	--primary-foreground: var(--color-neutral-0);
	--secondary: var(--color-secondary-50);
	--secondary-foreground: var(--color-neutral-90);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--destructive: oklch(0.704 0.191 22.216);
	--border: var(--color-neutral-60);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--app-page: oklch(0% 0 0);
	--sidebar: oklch(0% 0 0);
	--sidebar-foreground: var(--color-neutral-20);
	--sidebar-primary: var(--color-primary);
	--sidebar-primary-foreground: var(--color-neutral-90);
	--sidebar-accent: var(--color-neutral-80);
	--sidebar-accent-foreground: var(--color-neutral-0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

/* Typography utility classes */

@utility typography-display-xs {
	font-family: var(--font-display);
	font-size: 2rem;
	line-height: 140%;
	font-weight: 700;

	@variant lg {
		font-size: 2.5rem;
	}
}
@utility typography-display-sm {
	font-family: var(--font-display);
	font-size: 2.5rem;
	line-height: 110%;
	font-weight: 800;

	@variant lg {
		font-size: 3rem;
	}
}
@utility typography-display-md {
	font-family: var(--font-display);
	font-size: 2.625rem;
	line-height: 110%;
	font-weight: 800;

	@variant lg {
		font-size: 3.5rem;
	}
}
@utility typography-display-lg {
	font-family: var(--font-display);
	font-size: 3rem;
	line-height: 110%;
	font-weight: 800;

	@variant lg {
		font-size: 4rem;
	}
}

@utility typography-header-xs {
	font-size: 0.875rem;
	line-height: 120%;
	font-weight: 700;

	@variant lg {
		font-size: 1rem;
	}
}
@utility typography-header-sm {
	font-size: 1rem;
	line-height: 120%;
	font-weight: 700;

	@variant lg {
		font-size: 1.25rem;
	}
}
@utility typography-header-md {
	font-size: 1.375rem;
	line-height: 120%;
	font-weight: 700;

	@variant lg {
		font-size: 1.5rem;
	}
}
@utility typography-header-lg {
	font-size: 1.75rem;
	line-height: 120%;
	font-weight: 700;

	@variant lg {
		font-size: 2rem;
	}
}
@utility typography-header-xl {
	font-size: 2.25rem;
	line-height: 120%;
	font-weight: 700;

	@variant lg {
		font-size: 2.5rem;
	}
}
@utility typography-header-2xl {
	font-size: 2.5rem;
	line-height: 120%;
	font-weight: 700;

	@variant lg {
		font-size: 3rem;
	}
}

@utility typography-body-2xs {
	font-size: 0.625rem;
	line-height: 120%;

	@variant lg {
		font-size: 0.6875rem;
	}
}
@utility typography-body-xs {
	font-size: 0.6875rem;
	line-height: 120%;

	@variant lg {
		font-size: 0.75rem;
	}
}
@utility typography-body-sm {
	font-size: 0.875rem;
	line-height: 120%;

	@variant lg {
		font-size: 1rem;
	}
}
@utility typography-body-md {
	font-size: 1rem;
	line-height: 140%;

	@variant lg {
		font-size: 1.25rem;
	}
}
@utility typography-body-lg {
	font-size: 1.375rem;
	line-height: 140%;

	@variant lg {
		font-size: 1.5rem;
	}
}

@utility typography-label-xs {
	font-size: 0.6875rem;
	line-height: 120%;
	font-weight: 600;

	@variant lg {
		font-size: 0.75rem;
	}
}
@utility typography-label-sm {
	font-size: 0.75rem;
	line-height: 120%;
	font-weight: 600;

	@variant lg {
		font-size: 0.875rem;
	}
}
@utility typography-label-md {
	font-size: 0.875rem;
	line-height: 120%;
	font-weight: 600;

	@variant lg {
		font-size: 1rem;
	}
}
@utility typography-label-lg {
	font-size: 1rem;
	line-height: 120%;
	font-weight: 600;

	@variant lg {
		font-size: 1.25rem;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50 font-sans duration-100;
	}
	body {
		@apply bg-background text-foreground typography-body-sm;
	}
}
